<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShoeTrackr</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShoeTrackr.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <a href="Home.Html">
                <h1 class="logo-label">ShoeTrackr</h1>
            </a>
            <ul>
                <li><a href='@Url.Action("Index","Home")'>HOME</a></li>
                <li><a href='@Url.Action("Dashboard","Home")'>DASHBOARD</a></li>
                <li><a href='@Url.Action("AboutUs","Home")'>ABOUT US</a></li>
            </ul>
        </nav>
    </header>
    <div >
            @RenderBody()
    </div>

 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
